@{
    ViewData["Title"] = "Home Page";
}
@using DojoActivity.Models

<h1>Welcome to the Dojo Activity Center</h1>
<hr>
<div class="index-form">@Html.Partial("Partials/Register")</div>
<div class="index-form">@Html.Partial("Partials/Login")</div>